alembic==1.1.0
appdirs==1.4.3
APScheduler-ng==0.0.1
Babel==2.7.0
backcall==0.1.0
blinker==1.4
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
contextlib2==0.6.0
decorator==4.4.0
distlib==0.3.0
distro==1.4.0
dominate==2.4.0
fasteners==0.15
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.9.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
fuzzywuzzy==0.18.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.8
infinity==1.4
intervals==0.8.1
ipaddr==2.2.0
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
lockfile==0.12.2
Mako==1.1.0
MarkupSafe==1.1.1
migrate==0.3.8
monotonic==1.5
msgpack==0.6.2
packaging==20.3
parso==0.5.1
pep517==0.8.2
pexpect==4.7.0
pickleshare==0.7.5
progress==1.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.7.4
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==2.4.6
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-Levenshtein==0.12.0
pytoml==0.1.21
pytz==2019.2
pyuca==1.2
requests==2.22.0
retrying==1.3.3
six==1.12.0
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.34.2
traitlets==4.3.2
tzlocal==2.1
urllib3==1.25.8
validators==0.14.0
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
WTForms==2.2.1
WTForms-Alchemy==0.16.9
WTForms-Components==0.10.4
