body {
    font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}
p {
    font-family: 'Rubik', sans-serif;
}

nav.bg-primary {
	/* background-color: #ffaaaa; */
}

#side-bar {
	font-size: 90%;
}
#side-bar span.oi {
  font-size: 14px;
  margin: 0 1em;

}
#side-bar .card {
	margin-bottom: 1em;
}
#side-bar .card a {
	display: block;
}
#side-bar .container {
	margin-bottom: 2em;
}

.filtro {
	margin: 1em 0;
}
.filtro-header a {
	display: block;
	font-weight:  bold;
	border-bottom: 1px solid gray;
}
.filtro-body {
	padding-top: 1em;
	font-size: 0.85em;
}

#hero .container {
	margin: 3em 0 1em 0;
	padding: 0 0 2em 0;
}
#hero h1 {
	margin: 1em 15%;
	font-size: 2.5em;
	font-weight: bold;
	
	/* color: #888;
	color: #fff; */
	text-align: center;
}
/* #hero a { color: #ffffff; } */
#hero p {
	margin: 2em 0 1em 0;
	font-size: 1.7em;
	/*font-weight: bold;*/
	text-align: center;
}
#carouselHome img {
	height: 400px;
	width: auto;
}
#carouselHome .carousel-inner {
/*	border:  2px solid #AAA;
	border-top-color: #EEE;
	border-left-color: #EEE;*/
	border: none;
	/*background-color: #333;*/
}

#searchResults td {
	font-size: 0.9em;
}
#searchResults a {
	text-decoration: none;
	display: block;
}



#results {
	margin: 3em 0;
	text-align: left;
}
#results table {
	font-size: .9em;
}
#results h2 {
	margin-bottom: 1em;
}
#results .card {
	margin: 2em 0;
}
#results .card p {
	margin: 0.5em auto;
}
#results table a, #results li a {
	display: block;
	color: unset;
	text-decoration: underline;
}

#results table ul {
	margin: 0;
	padding: 0;
}

#results table li {
	margin: 0;
	padding: 0;
	list-style: none;
}


#main-content {
	text-align: justify;
}



h3 {
	margin-bottom: 1em;
}
p.link-interes {
	font-weight: bold;
}
p.link-interes a {
	display: block;
	font-weight: normal;
}


footer {
	background-color: #000;
}
