{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row"> {{ form.name.label }} </div>
        <div class="row">  {{ form.name(size=40) }} </div>                
        <div class="row">
                {% for error in form.name.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div>
        <br>
        <div class="row"> {{ form.musical_ensemble_type.label }} </div>
        <div class="row">  {{ form.musical_ensemble_type( **{"class":"dd_select2", "url":"musicalensembletypes", "description":_("Tipo de Agrupación Musical"),  "maxelem":"1" , "selectedElements":selectedElements } ) }}  </div> 
        <div class="row">
                {% for error in form.musical_ensemble_type.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div> 
        <div class="row"> 
            {{ form.additional_info.label }} <br>
            {{ form.additional_info(cols="77", rows="6")|safe }} <br>                
            
            {% for error in form.additional_info.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br> 
        <div class="row"></div>
        <div class="row">
             {{ form.submit() }} 
        </div>
        <div id="sectionMembers">
        
            <div><h2>{{ _("Miembros") }} </h2> </div>
             
             <div class="row">           
                 <div class="col-sm-2"> {{ _("Agregar miembro: ")}}</div>
                 <div class="col-sm-4"> {{ form.person( **{"class":"dd_select2", "url":"people", "description":_("Persona"),  "maxelem":"1", "selectedElements" : "" } ) }} </div>
                 <div class="col-sm-4"> {{ form.activity( **{"class":"dd_select2", "url":"activities", "description":_("Actividad"),  "maxelem":"1", "selectedElements" : "" } ) }} </div>
                 <div class="col-sm-1"><button type="button"  onclick="addMusicalEnsembleMember({{musical_ensemble_id}})" class="btn btn-primary">Agregar</button> </div>
            </div>
             <div class="row justify-content-start">           
                 <div class="col-sm-2"> </div>
                 <div class="col-sm-4"><a href="{{ url_for('main.NewPerson') }}" target="_blank" class="btn btn-default" role="button">{{ _("Nueva Persona") }} </a>  </div>
                 <div class="col-sm-4"><a href="{{ url_for('main.NewActivity') }}" target="_blank" class="btn btn-default" role="button">{{ _("Nueva Actividad") }} </a>  </div>
                 <div class="col-sm-1"> </div>
            </div>
                        
            <br>    
            <table id="table-musical-ensemble-members"
               data-toggle="table"
               data-show-footer="false"
               data-side-pagination="server"
               data-only-info-pagination="false"
               data-pagination="true"
               data-url={{ url_for("main.getMusicalEnsembleMemberListTable",musical_ensemble_id=musical_ensemble_id) }}  >
                <thead>
                    <tr>
                        <th data-field="name">{{ _("Nombre") }}</th>
                        <th data-field="activity">{{ _("Actividad") }}</th>
                        <th data-field="id" data-formatter="deleteMusicalEnsembleMemberCol"></th>
                    </tr>
                </thead>
            </table> 
        </div>
    </div>       


<!-- Modal -->
<div id="confirmDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">¿Está seguro que desea borrar a este miembro? </h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
    </form>
    
{% endblock %}
{% block scripts %}
{{ super() }}
    <link href="{{ url_for('static', filename = 'css/lib/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename = 'js/lib/select2.min.js') }}"></script>  
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/flash_message.js') }}" ></script>
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/dd_select2.js') }}" ></script>
    <script src="{{url_for('static', filename='js/events.js')}}"></script>
{% endblock %}