{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
             {{ form.name.label }} <br>
              {{ form.name(size=45) }} <br>                
            
                    {% for error in form.name.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            <br>
            <br>
            
             {{ form.event_date.label }} <br>
              {{ form.event_date }} <br>                
            
                    {% for error in form.event_date.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            <br>
            <br>      
                    
             {{ form.location.label }} <br>
              {{ form.location( **{"class":"dd_select2", "url":"locations", "description":_("Lugar"),  "maxelem":"1" , "selectedElements":selectedLocation } ) }}  
                  <a href="{{ url_for('main.NewLocation') }}" target="_blank" class="btn btn-primary" role="button"> {{ _("Nuevo") }} </a>
            <br> 
            
                    {% for error in form.location.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            <br> 
            <br> 
            
             {{ form.organization.label }} <br>
              {{ form.organization( **{"class":"dd_select2", "url":"organizations", "description":_("Organización"),  "maxelem":"1" , "selectedElements":selectedOrganization } ) }} 
                            <a href="{{ url_for('main.NewOrganization') }}" target="_blank" class="btn btn-primary" role="button"> {{ _("Nuevo") }}</a> 
            <br> 
            
                    {% for error in form.organization.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            <br> 
            <br> 
    
             {{ form.event_type.label }} <br>
              {{ form.event_type( **{"class":"dd_select2", "url":"eventtypes", "description":_("Tipo de Evento"),  "maxelem":"1" , "selectedElements":selectedEventType } ) }} 
                     <a href="{{ url_for('main.NewEventType') }}" target="_blank" class="btn btn-primary" role="button">{{ _("Nuevo") }} </a> 
             <br> 
            
                    {% for error in form.event_type.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            <br> 
            <br>         
                    
             {{ form.information.label }} <br>
              {{ form.information(cols="55", rows="15")|safe }} <br>                
            
                    {% for error in form.information.errors %}
                       <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
        <br>
                         {{ form.submit() }} 
        </div>
        <div class="col-md-6">
            {{ _("Agregar participante")}}
            {{ form.person( **{"class":"dd_select2", "url":"people", "description":_("Persona"),  "maxelem":"1", "selectedElements" : "" } ) }}
            {{ form.activity( **{"class":"dd_select2", "url":"activities", "description":_("Actividad"),  "maxelem":"1", "selectedElements" : "" } ) }}
            <button type="button"  onclick="addParticipant()" class="btn btn-primary">Agregar</button>
            <table id="table-participants"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-height="460"
               data-side-pagination="server"
               data-pagination="true"
               data-url={{ url_for("main.getParticipantsList",event_id=event_id) }}  >
            <thead>
            <tr>
                <th data-field="first_name">First Name</th>
                <th data-field="last_name">Last Name</th>
                <th data-field="activity">Activity</th>
            </tr>
            </thead>
        </table> 
        
        
        </div>
      </div>
    </div>

    </form>
<script type="text/javascript">
function addParticipant() {
    var activity = document.getElementById("activity");
    var person = document.getElementById("person");
     if (person.selectedIndex == -1){
        alert("Debe seleccionar una persona")
        return
    }
    if (activity.selectedIndex == -1){
        alert("Debe seleccionar una actividad")
        return
    }
    data = {
        'event_id' : {{ event_id }},
        'person_id' : parseInt(person.options[person.selectedIndex].value),
        'activity_id' : parseInt(activity.options[activity.selectedIndex].value)
    }
     
    $.post('/api/participant/add',data ).done( function(msg) { 
            $('#table-participants').bootstrapTable('refresh'); } )
    .fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });
};
</script>    
{% endblock %}
{% block script %}


{% endblock %}
