{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Editar Elementos') }}</h1>
    <div class="container">
  <!-- Content here -->
       <a href="{{ url_for('main.view_countries')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Países')}}</a>
       <a href="{{ url_for('main.view_cities')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Ciudades')}}</a>
       <a href="{{ url_for('main.view_instrumenttypes')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Tipos de Instrumento')}}</a>
       <a href="{{ url_for('main.view_premieretypes')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Tipos de Premiere')}}</a>
       <a href="{{ url_for('main.view_instruments')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Instrumentos')}}</a>
       <a href="{{ url_for('main.view_people')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Personas')}}</a>
       <a href="{{ url_for('main.view_locations')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Lugares')}}</a>
       <a href="{{ url_for('main.view_organizations')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Organizaciones')}}</a>
       <a href="{{ url_for('main.view_eventtypes')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Tipos de Evento')}}</a>       
       <a href="{{ url_for('main.view_musicalpieces')}}" class="btn btn-primary btn-lg" role="button"> {{ _('Obras Musicales')}}</a>     
   </div>


{% endblock %}
