{% macro form_field(field) -%}
{% set with_label = kwargs.pop('with_label', False) %}
{% set placeholder = '' %}
{% if not with_label %}
{% set placeholder = field.label.text %}
{% endif %}
<div class="control-group {% if field.errors %}error{% endif %}">
    {% if with_label %}
    <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
    </label>
    {% endif %}
    <div class="controls">
        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
        {% set class_ = class_ + ' required' %}
        {% endif %}
        {% if field.type == 'BooleanField' %}
        <label class="checkbox">
            {{ field(class_=class_, **kwargs) }}
            {{ field.label.text|safe }}
        </label>
        {% else %}
        {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
        {% set class_ = class_ + ' input-xlarge' %}
        {% elif field.type == 'FileField' %}
        {% set class_ = class_ + ' input-file' %}
        {% endif %}
        {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
        {% endif %}
        {% if field.errors %}
        <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
        <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style type="text/css">
	.event-tabs{
		margin: 20px;
	}
</style>	
    <h1>{{ title }}</h1>


    <p>
        Para modificar la información de la persona, debe ir a
        <a href="{{ url_for('main.EditPerson', id=obj.person.id) }}">Editar persona "{{ obj.person.get_name() }}"</a>.
        Abandonará esta página y cualquier cambio que no haya guardado.
    </p>


    <div class="container ">
        <div class="row">

            <div class="col-md-8">

        
            <div class="event-tabs">
            <form action="" method="post">
            {{ form.hidden_tag() }}

                <ul class="nav nav-tabs" id="myTab">
                    <li><a data-toggle="tab" href="#sectionBiograficos">{{ _("Biografía Extendida")}} </a></li>
                    <li><a data-toggle="tab" href="#sectionPersonales">{{ _("Datos") }}</a></li>
                    <li><a data-toggle="tab" href="#sectionInvestigadores">{{ _("Investigadores")}} </a></li>
                    <li><a data-toggle="tab" href="#sectionMedia">{{ _("Media")}} </a></li>
                </ul>
        
        
                <div class="tab-content">

                    
                    <div id="sectionBiograficos" class="tab-pane fade in active">
                    
                        <h2>{{ _("Biografía Extendida") }} </h2>
                    
                    
                        <table class="table">
                            <tr>
                                <th>Biografía (*)<br>
                                    <small>Campo requerido</small>
                                </th>
                                <td>{{ form.biografia(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.biografia.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Bibliografía</th>
                                <td>{{ form.bibliografia(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.bibliografia.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Archivos</th>
                                <td>{{ form.archivos(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.archivos.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Discografía</th>
                                <td>{{ form.discografia(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.discografia.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Enlaces</th>
                                <td>{{ form.links(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.links.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Otros</th>
                                <td>{{ form.otros(cols="55", rows="6")|safe }}<br>
                    
                                    {% for error in form.otros.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    
                    
                    
                        <br>
                        {{ form.submit() }}
                    </div>


        
                    <div id="sectionPersonales" class="tab-pane fade">
                        <h2>{{ _("Datos") }} </h2>
                        <table class="table">
                            <tr>
                                <th>Familia</th>
                                <td>{{ form.familia(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.familia.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Profesión</th>
                                <td>{{ form.profesion(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.profesion.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Instrumento</th>
                                <td>{{ form.instrumento(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.instrumento.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Estudios Formales</th>
                                <td>{{ form.estudios_formales(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.estudios_formales.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Estudios Informales</th>
                                <td>{{ form.estudios_informales(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.estudios_informales.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Trabajo</th>
                                <td>{{ form.trabajo(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.trabajo.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Ensambles</th>
                                <td>{{ form.ensambles(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.ensambles.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Premios</th>
                                <td>{{ form.premios(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.premios.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Publicaciones</th>
                                <td>{{ form.publicaciones(cols="55", rows="6")|safe }}<br>
                                
                                {% for error in form.publicaciones.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                            </tr>
                        </table>


                        <br>
                        {{ form.submit() }}
        
                    </div>



                    <div id="sectionInvestigadores" class="tab-pane fade">
                        <h2>{{ _("Investigadores") }} </h2>
                        <table class="table">
                            <tr>
                                <th>Autores de la investigación</th>
                                <td>{{ form.investigacion_autores(cols="55", rows="6")|safe }}<br>
                        
                                    {% for error in form.investigacion_autores.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Fechas de la investigación</th>
                                <td>{{ form.investigacion_fecha(cols="55", rows="6")|safe }}<br>
                            
                                    {% for error in form.investigacion_fecha.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Notas internas</th>
                                <td>{{ form.investigacion_notas(cols="55", rows="6")|safe }}<br>
                            
                                    {% for error in form.investigacion_notas.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        <br>
                        {{ form.submit() }}

                    </div>
        
        
                    <div id="sectionMedia" class="tab-pane fade">
                        <h2>{{ _("Media") }} </h2>
        
                        <p>Not yet ready</p>
                    </div>
        
                </div>
            </form>
            </div>
        


            </div>

            <div class="col-md-4">
            
                <p style="margin-bottom: 80px"></p>
                <h2>Persona</h2>
                <table class="table ">
                    <tr>
                        <th class="col-2">Nombre:</th>
                        <td>{{obj.person.first_name}}</td>
                    </tr>
                    <tr>
                        <th>Apellido:</th>
                        <td>{{obj.person.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Nacimiento:</th>
                        <td>{{obj.person.birth_year}}</td>
                    </tr>
                    <tr>
                        <th>Muerte:</th>
                        <td>{{obj.person.death_year}}</td>
                    </tr>
                    <tr>
                        <th>Genero:</th>
                        <td>{{obj.person.gender.get_name()}}</td>
                    </tr>
                    <tr>
                        <th>Mini Biografía:</th>
                        <td>{{obj.person.biography}}</td>
                    </tr>
                </table>
            
                <a href="{{ url_for('main.EditPerson', id=obj.person.id) }}">Ir a Editar Persona</a>.

            
            
            </div>

        </div>
    </div>





 
<hr >
<a href="{{ url_for('main.viewBiografias')}}"> {{ _('Volver al listado de') }} {{ _('Biografías') }} </a>

{% endblock %}
{% block scripts %}
{{ super() }}
    <link href="{{ url_for('static', filename = 'css/lib/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename = 'js/lib/select2.min.js') }}"></script>  
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/flash_message.js') }}" ></script>
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/dd_select2.js') }}" ></script>
    <script src="{{url_for('static', filename='js/events.js')}}"></script>
{% endblock %}
