{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Editar Elementos') }}</h1>
<div class="dropdown-item">
  <!-- Content here -->
    <div class="dropdown-item" >
            <a href="{{ url_for('main.view_countries')}}" class="dropdown-item"> {{ _('Países') }}</a>
            <a href="{{ url_for('main.view_cities')}}" class="dropdown-item"> {{ _('Ciudades') }}</a>
            <a href="{{ url_for('main.view_instrumenttypes')}}" class="dropdown-item"> {{ _('Tipos de Instrumento') }}</a>
            <a href="{{ url_for('main.view_premieretypes')}}" class="dropdown-item"> {{ _('Tipos de Estreno') }}</a>
            <a href="{{ url_for('main.view_instruments')}}" class="dropdown-item"> {{ _('Instrumentos') }}</a>
            <a href="{{ url_for('main.view_people')}}" class="dropdown-item"> {{ _('Personas') }}</a>
            <a href="{{ url_for('main.view_locations')}}" class="dropdown-item"> {{ _('Lugares') }}</a>
            <a href="{{ url_for('main.view_organizations')}}" class="dropdown-item"> {{ _('Organizaciones') }}</a>
            <a href="{{ url_for('main.view_eventtypes')}}" class="dropdown-item"> {{ _('Tipos de Evento') }}</a>  
            <a href="{{ url_for('main.view_musicalpieces')}}" class="dropdown-item"> {{ _('Obras Musicales') }}</a>     
            <a href="{{ url_for('main.view_activities')}}" class="dropdown-item"> {{ _('Actividades') }}</a>     
            <a href="{{ url_for('main.view_event')}}" class="dropdown-item"> {{ _('Eventos') }}</a>  
    </div>
</div>
{% endblock %}
