{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row"> {{ form.name.label }} </div>
        <div class="row">  {{ form.name(size=20) }} </div>                
        <div class="row">
                {% for error in form.name.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div>
        <br>
        
        <div class="row"> {{ form.address.label }} </div>
        <div class="row">  {{ form.address(size=60) }} </div>                
        <div class="row">
                {% for error in form.address.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div>
        <br>
        
        <div class="row"> {{ form.city.label }} </div>
        <div class="row">  {{ form.city( **{"class":"dd_select2", "url":"cities", "description":_("Ciudad"),  "maxelem":"1" , "selectedElements":selectedElements } ) }}  </div> 
        <div class="row">
                {% for error in form.city.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div> 
        <br> 
        
        <div class="row"> {{ form.additional_info.label }} </div>
        <div class="row">  {{ form.additional_info(cols="55", rows="15")|safe }} </div>                
        <div class="row">
                {% for error in form.additional_info.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </div>
        <br>
        
        <div class="row"></div>
        <div class="row">
             {{ form.submit() }} 
        </div>
    </div>       

    </form>
    
{% endblock %}
{% block scripts %}
{{ super() }}
    <link href="{{ url_for('static', filename = 'css/lib/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename = 'js/lib/select2.min.js') }}"></script>  
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/flash_message.js') }}" ></script>
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/dd_select2.js') }}" ></script>
    <script src="{{url_for('static', filename='js/events.js')}}"></script>
{% endblock %}
