{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

</style>

{% block app_content %}
<style type="text/css">
	.event-tabs{
		margin: 20px;
	}
</style>	
    <h1>{{ title }}</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    
    <div class="event-tabs">
      <ul class="nav nav-tabs" id="myTab">
            <li><a data-toggle="tab" href="#sectionGeneralInfo">{{ _("Información General") }}</a></li>
            <li><a data-toggle="tab" href="#sectionParticipants">{{ _("Participantes")}} </a></li>
            <li><a data-toggle="tab" href="#sectionRepertoire">{{ _("Repertorio")}} </a></li>
            <li><a data-toggle="tab" href="#sectionMedia">{{ _("Media")}} </a></li>           
     </ul>
     <div class="tab-content">

        <div id="sectionGeneralInfo" class="tab-pane fade in active">
            <div><h2>{{ _("Información General") }} </h2></div>
            {{ form.name.label }} <br>
            {{ form.name(size=45) }} <br>                

            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
             <br><br>
            {{ form.event_date.label }} <br>
            {{ form.event_date }} <br>                

            {% for error in form.event_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br>      
                        
            {{ form.location.label }} <br>
            {{ form.location( **{"class":"dd_select2", "url":"locations", "description":_("Lugar"),  "maxelem":"1" , "selectedElements":selectedLocation } ) }}  
                      <a href="{{ url_for('main.NewLocation') }}" target="_blank" class="btn btn-primary" role="button"> {{ _("Nuevo") }} </a>
            <br> 
            {% for error in form.location.errors %}
                 <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br> 
            {{ form.organization.label }} <br>
            {{ form.organization( **{"class":"dd_select2", "url":"organizations", "description":_("Organización"),  "maxelem":"1" , "selectedElements":selectedOrganization } ) }} 
                  <a href="{{ url_for('main.NewOrganization') }}" target="_blank" class="btn btn-primary" role="button"> {{ _("Nuevo") }}</a> 
            <br> 
            {% for error in form.organization.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br> 
        
            {{ form.event_type.label }} <br>
            {{ form.event_type( **{"class":"dd_select2", "url":"eventtypes", "description":_("Tipo de Evento"),  "maxelem":"1" , "selectedElements":selectedEventType } ) }} 
                <a href="{{ url_for('main.NewEventType') }}" target="_blank" class="btn btn-primary" role="button">{{ _("Nuevo") }} </a> 
            <br> 
            {% for error in form.event_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
             <br><br>         
                        
            {{ form.information.label }} <br>
            {{ form.information(cols="55", rows="15")|safe }} <br>                
            
            {% for error in form.information.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.submit() }} 
        </div>
        
        <div id="sectionParticipants" class="tab-pane fade">
        
            <div><h2>{{ _("Participantes") }} </h2> </div>
            {{ _("Agregar participante")}}
            {{ form.person( **{"class":"dd_select2", "url":"people", "description":_("Persona"),  "maxelem":"1", "selectedElements" : "" } ) }}
            {{ form.activity( **{"class":"dd_select2", "url":"activities", "description":_("Actividad"),  "maxelem":"1", "selectedElements" : "" } ) }}
            <button type="button"  onclick="addParticipant()" class="btn btn-primary">Agregar</button>
            <table id="table-participants"
               data-toggle="table"
               data-show-footer="false"
               data-striped="true"
               data-side-pagination="server"
               data-only-info-pagination="false"
               data-pagination="true"
               data-url={{ url_for("main.getParticipantsList",event_id=event_id) }}  >
                <thead>
                    <tr>
                        <th data-field="first_name">First Name</th>
                        <th data-field="last_name">Last Name</th>
                        <th data-field="activity">Activity</th>
                        <th data-field="participant_id" data-formatter="deleteParticipantCol"></th>
                    </tr>
                </thead>
            </table> 
        </div>
        <div id="sectionRepertoire" class="tab-pane fade">
        
            <div><h2>{{ _("Repertorio") }}</h2> </div>
            {{ _("Agregar Interpretación")}}
            {{ form.musical_piece( **{"class":"dd_select2", "url":"musicalpieces", "description":_("Obra"),  "maxelem":"1", "selectedElements" : "" } ) }}
            {{ form.premiere_type( **{"class":"dd_select2", "url":"premieretypes", "description":_("Estreno"),  "maxelem":"1", "selectedElements" : "" } ) }}
            <button type="button"  onclick="addPerformance()" class="btn btn-primary">Agregar</button>
            <table id="table-musical-pieces"
               data-toggle="table"

               data-show-footer="false"
               data-striped="true"
               data-only-info-pagination="false"
               data-side-pagination="server"
               data-pagination="true"
               data-url={{ url_for("main.getPerformancesList",event_id=event_id) }}  >
                <thead>
                    <tr>
                        <th data-field="musical_piece_name">Obra</th>
                        <th data-field="performance_id" data-formatter="deletePerformanceCol"></th>
                    </tr>
                </thead>
            </table> 
        </div>
        <div id="sectionMedia" class="tab-pane fade">
        </div>
    </div>
    </form>


<script type="text/javascript">
function addParticipant() {
    var activity = document.getElementById("activity");
    var person = document.getElementById("person");
     if (person.selectedIndex == -1){
        alert("Debe seleccionar una persona")
        return
    }
    if (activity.selectedIndex == -1){
        alert("Debe seleccionar una actividad")
        return
    }
    data = {
        'event_id' : {{ event_id }},
        'person_id' : parseInt(person.options[person.selectedIndex].value),
        'activity_id' : parseInt(activity.options[activity.selectedIndex].value)
    }
     
    $.post('/api/participant/add',data ).done( function(msg) { 
            $('#table-participants').bootstrapTable('refresh'); } )
    .fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });
};

function deleteParticipantCol(value, row, index){
    return '<i class="glyphicon glyphicon-trash"  onclick="deleteParticipant('+value+')"></i>'           
}
function deleteParticipant(participant_id)
{
    $.post('/api/participant/delete', { 'participant_id':participant_id } ).done( function(msg) { 
            $('#table-participants').bootstrapTable('refresh'); } )
    .fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });    
}


function addPerformance() {
    var musical_piece = document.getElementById("musical_piece");
    var premiere_type = document.getElementById("premiere_type");
     if (musical_piece.selectedIndex == -1){
        alert("Debe seleccionar una obra")
        return
    }
    if (premiere_type.selectedIndex == -1){
        alert("Debe seleccionar un tipo de estreno")
        return
    }
    data = {
        'event_id' : {{ event_id }},
        'musical_piece_id' : parseInt(musical_piece.options[musical_piece.selectedIndex].value),
        'premiere_type_id' : parseInt(premiere_type.options[premiere_type.selectedIndex].value)
    }
     
    $.post('/api/performance/add',data ).done( function(msg) { 
             $('#table-musical-pieces').bootstrapTable('refresh'); } )
    .fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });
};
function deletePerformanceCol(value, row, index){
    return '<i class="glyphicon glyphicon-trash"  onclick="deletePerformance('+value+')"></i>'           
}
function deletePerformance(performance_id)
{
    $.post('/api/performance/delete', { 'performance_id':performance_id } ).done( function(msg) { 
            $('#table-musical-pieces').bootstrapTable('refresh'); } )
    .fail( function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
    });    
}

$(document).ready(function(){ 
    $("#myTab li:eq(1) a").tab('show');
});
</script>    
{% endblock %}
{% block script %}


{% endblock %}
