{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Eventos') }}</h1>
    <table class="table table-hover">
            <a href="{{ url_for('main.NewEvent') }}" class="btn btn-primary" role="button"> {{ _('Nuevo')}}</a>
              {% for event in elements %}
                {% include 'main/_event.html' %}
            {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Anterior') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Siguiente') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
