{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _("Hola ") }}{{ user }},</h2>
    <br>
    <h1>{{ _("Bienvenid@ a cl-concerts-db") }}</h1>
    <br>
    <h3>{{ _("Últimas actualizaciones") }}</h3>
    <div class="container">
      <div class="panel panel-default">
         <div class="panel-heading">2020-05-02</div>
        <div class="panel-body">
          <ul>
            <li>Agregada funcionalidad de borrado de elementos</li>
            <li>Mejorada las búsquedas en general, ahora soportan más de una palabra</li>          
            <li>Mejorada la búsqueda de eventos, puede ingresarse por ejemplo el año, partes del nombre, el lugar y del tipo de evento</li>
            <li>Mejoras cosméticas en cómo son desplegados algunos elementos</li>
          </ul>
        </div>     
      
        <div class="panel-heading">2020-04-15</div>
        <div class="panel-body">
          <ul>
            <li>Arreglado envío de correos (ahora se puede recuperar la contraseña y los errores llegarán al admin</li>
            <li>Mejorada la captura de errores ante ciertas excepciones para hace más fácil su debugging</li>          
            <li>Agregados seguros adicionales para evitar que el usuario pueda agregar obras o participantes borrados</li>
          </ul>
        </div>
        <div class="panel-heading">2018-11-16</div>
        <div class="panel-body">
          <ul>
            <li>Agregado soporte para Agrupaciones Musicales</li>
            <li>Ahora un evento puede tener una actividad asociada a un grupo</li>          
            <li>Pueden agregarse Participantes a los eventos sin especificar la actividad</li>
            <li>Varios bugs corregidos, sobre todo en las búsquedas</li>
            <li>Agregado campo 'texto' y 'formación musical' en las obras musicales</li>
            <li>Las obras musicales pueden ahora tener más de un compositor</li>
          </ul>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-10-01</div>
        <div class="panel-body">
          <ul>
            <li>Nuevas y mejoradas tablas, con campo de búsqueda para todos los elementos</li>
            <li>Actividades puede no incluir instrumento</li>          
            <li>Instrumento puede no incluir tipo</li>
            <li>Obra Musical puede no incluir instrumentos</li>
            <li>Agregado nombre de lugar a la descripción de eventos</li>
            <li>Eliminada la restricción de duplicidad de nombre de obra</li>
          </ul>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-09-21</div>
        <div class="panel-body">
          <ul>
            <li>Obras Musicales: ahora permite asociar varios instrumentos</li>          
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-09-20</div>
        <div class="panel-body">
          <ul>
            <li>Cambiado texto 'Ciclo' por 'Ciclo/Festival'</li>          
            <li>Ahora 'Eventos' puede tener múltiples organizadores</li>
            <li>La fecha del evento fue cambiada a Año/Mes/Día, por separado</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-09-11</div>
        <div class="panel-body">
          <ul>
            <li>Eliminadas entradas 'Recital de Canto' y 'Recital del Piano'</li>          
            <li>Arreglado actividades: Aquellos con actividad en blanco se ha cambiado a 'Ninguno'</li>
            <li>Actividades: Se fuerza a ingresar un tipo de instrumento (puede ser 'Ninguno')</li>
            <li>Eventos: se elimina la restricción de unicidad del nombre</li>
            <li>Eventos: se fuerza el ingreso de fecha del evento</li>
            <li>Eventos: Se listan los eventos como [fecha] Tipo de Evento - Nombre</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-09-03</div>
        <div class="panel-body">
          <ul>
            <li>Agregado sexo 'Otro'</li>          
            <li>Agregado nuevo campo: Ciclo</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-19</div>
        <div class="panel-body">
          <ul>
            <li>Agregada vista para modificar los datos de cualquier usuario (sólo visible para usuarops de tipo Administrador)</li>       
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-29</div>
        <div class="panel-body">
          <ul>
            <li>Agregado cajón de búsqueda para Historial (busca en descripción)</li>          
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-19</div>
        <div class="panel-body">
          <ul>
            <li>Agregada vista para modificar los datos de cualquier usuario (sólo visible para usuarops de tipo Administrador)</li>       
          </ul>
        </div>
      </div>
     
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-17</div>
        <div class="panel-body">
          <ul>
            <li>Agregado menú para modificar el perfil del usuario (y cambiar la contraseña)</li>
            <li>Agregada opción para recuperar la contraseña</li>
            <li>Agregado el envío automático de errores al administrador (via email)</li>
            <li>Cambios cosméticos menores</li>            
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">2018-08-14</div>
        <div class="panel-body">
          <ul>
            <li>Corregido un error guardando el historial</li>
            <li>Agregado botón 'Nueva Persona' al tab de Participantes en la edición de Eventos</li>
            <li>Agregado botón 'Nueva Actividad' al tab de Participantes en la edición de Eventos</li>            
          </ul>
        </div>
      </div>


    </div>
    
{% endblock %}
{% block scripts %}
{{ super() }}
    <link href="{{ url_for('static', filename = 'css/lib/select2.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename = 'js/lib/select2.min.js') }}"></script>  
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/flash_message.js') }}" ></script>
    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/dd_select2.js') }}" ></script>
    <script src="{{url_for('static', filename='js/events.js')}}"></script>
{% endblock %}