{% extends "base.html" %}

{% block app_content %}
    <h2>{{ _("Hola ") }}{{ user }},</h2>
    <br>
    <h1>{{ _("Bienvenid@ a cl-concerts-db") }}</h1>
    <br>
    <h3>{{ _("Últimas actualizaciones") }}</h3>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-29</div>
        <div class="panel-body">
          <ul>
            <li>Agregado cajón de búsqueda para Historial (busca en descripción)</li>          
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-19</div>
        <div class="panel-body">
          <ul>
            <li>Agregada vista para modificar los datos de cualquier usuario (sólo visible para usuarops de tipo Administrador)</li>       
          </ul>
        </div>
      </div>
     
      <div class="panel panel-default">
        <div class="panel-heading">2018-08-17</div>
        <div class="panel-body">
          <ul>
            <li>Agregado menú para modificar el perfil del usuario (y cambiar la contraseña)</li>
            <li>Agregada opción para recuperar la contraseña</li>
            <li>Agregado el envío automático de errores al administrador (via email)</li>
            <li>Cambios cosméticos menores</li>            
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">2018-08-14</div>
        <div class="panel-body">
          <ul>
            <li>Corregido un error guardando el historial</li>
            <li>Agregado botón 'Nueva Persona' al tab de Participantes en la edición de Eventos</li>
            <li>Agregado botón 'Nueva Actividad' al tab de Participantes en la edición de Eventos</li>            
          </ul>
        </div>
      </div>


    </div>
    
{% endblock %}
