{% macro campo(f, label, is_list=False) -%}
{% if f %}
    <tr>
        <th>{{ label }}:</th>
        <td>
        {% if is_list %}
            <ul>
                {% for i in f.split("\n") %}
                {% if i.strip() %}
                <li>{{ i|urlize(None, true, target="_blank") }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            {% for i in f.split("\n") %}
            {{ i|urlize(None, true, target="_blank") }}<br>
            {% endfor %}
        {% endif %}
        </td>
    </tr>
{% endif %}
{%- endmacro %}

{% extends 'public/layout_global.html' %}

{% set title=_('Biografía de')+' '+bio.person.first_name+' '+bio.person.last_name %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<section id="biografias">

<div class="card">
    <div class="card-header">
        {{_("Datos Personales")}}
    </div>

    <div class="card-body">
        <table class="table biografia">
            <tbody>
                <tr class="first">
                    <th>{{_("Nombre Completo")}}:</th>
                    <td>
                    {% if bio.nombre_completo %}
                    {{ bio.nombre_completo }}
                    {% else %}
                    {{ bio.person.first_name }} {{ bio.person.last_name }}
                    {% endif %}
                    </td>
                </tr>
                {{ campo(bio.nacimiento_y_muerte, _("Nacimiento")) }}
                {{ campo(bio.familia, _("Informaciones familiares")) }}
            </tbody>
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        {{_("Información Profesional")}}
    </div>

    <div class="card-body">
        <table class="table biografia">
{{ campo(bio.profesion, _("Profesión")) }}
{{ campo(bio.instrumento, _("Instrumento / registro vocal / otros")) }}
{{ campo(bio.estudios_formales, _("Lugar/es de estudio y años correspondientes"), True) }}
{{ campo(bio.estudios_informales, _("Otros estudios")) }}
{{ campo(bio.trabajo, _("Lugar/es de trabajo y años correspondientes"), True) }}
{{ campo(bio.ensambles, _("Participación en ensambles y otros proyectos independientes"), True) }}
{{ campo(bio.premios, _("Premios, distinciones")) }}
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        {{_("Biografía")}}
    </div>

    <div class="card-body">
        {% for i in bio.biografia.split("\n") %}
        {{ i|urlize(None, true, target="_blank") }}<br>
        {% endfor %}
    </div>
</div>



<div class="card">
    <div class="card-header">
        {{_("Referencias y Publicaciones")}}
    </div>

    <div class="card-body">
        <table class="table biografia">
{{ campo(bio.bibliografia, _("Bibliografía")) }}
{{ campo(bio.archivos, _("Archivos")) }}
{{ campo(bio.discografia, _("Discografía")) }}
{{ campo(bio.links, _("Enlaces de interés")) }}
{{ campo(bio.otros, _("Información adicional")) }}
        </table>
    </div>
</div>

<!-- <div class="card">
    <div class="card-header">
        {{_("Imágenes adjuntas")}}
    </div>

    <div class="card-body">
        -
    </div>
</div> -->

{% if bio.person.musical_pieces %}
<a role="button" href="{{ url_for('public.search', update='search', compositor_name=bio.person.id) }}"
    class="btn btn-primary">{{_('Eventos asociados a esta persona')}}</a>
{% else %}
<a role="button" href="{{ url_for('public.search', update='search', participant_name=bio.person.id) }}"
    class="btn btn-primary">{{_('Eventos asociados a esta persona')}}</a>
{% endif %}

</section>


{% endblock %}