{% extends 'public/layout_global.html' %}

{% set title=_('Biografía de Stein, Hanns') %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<section id="results">

<div class="card">
    <div class="card-header">
        Datos Personales
    </div>

    <div class="card-body">
<table class="table">
    <tbody>
        <tr class="first">
            <th>Nombre Completo:</th>
            <td>Hanns Stein</td>
        </tr>
        <tr>
            <th>Nacimiento:</th>
            <td>17.11.1926, Praga, hoy República Checa</td>
        </tr>
        <tr>
            <th>Informaciones familiares:</th>
            <td>
                <ul>
<li>Hijo de Franz Stein (1896-1994) y Ella Klein (1901-1989)</li>
<li>Casado con Choly Melnick (1928-2018), periodista</li>
<li>Hijos: Viera, Paul, Karla</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
    </div>
    </div>


<div class="card">
    <div class="card-header">
        Información Profesional
    </div>

    <div class="card-body">
        <table class="table participantes">
            <tr class="first">
                <th>Profesión</th>
                <td>Cantante lírico, profesor de canto</td>
            </tr>
            <tr>
                <th>Instrumento / registro vocal / otros</th>
                <td>Tenor</td>
            </tr>
            <tr>
                <th>Lugar/es de estudio y años correspondientes</th>
                <td><ul>
                    <li>Universidad de Chile</li>
                    <li>Conservatorio de Praga (1966-1968)</li>
                </ul></td>
            </tr>
            <tr>
                <th>Lugar/es de trabajo y años correspondientes</th>
                <td>
                    <ul>
                        <li>Escuela vespertina de la Universidad de Chile (1962-1966)</li>
                        <li>Universidad de Chile (1968-1973, 1990 en adelante; profesor de canto)</li>
                        <li>Hochschule für Musik Hanns Eisler (1974-1980, profesor de canto)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Participación en ensambles y otros proyectos independientes</th>
                <td>
                    <ul>
                        <li>Agrupación Musical Anacrusa, entre otros</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Premios, distinciones</th>
                <td>
                    <ul>
                        <li>Miembro honorario de la Academia Chilena de Bellas Artes (2014)</li>
                        <li>Distinción Gratias Agit del Ministerio de Relaciones Exteriores de la República Checa (2016)</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Biografía
    </div>

    <div class="card-body">
<p>Hanns Stein nació el 17 de noviembre de 1926 en Praga. Su infancia la pasó en Nyrsko (República Checa). Sus idiomas
natales fueron el alemán (idioma de la familia paterna) y el checo (idioma de la familia materna). Tras la invasión
alemana, en 1938, la familia, de origen judío, emigró a West Kirby en Inglaterra, desde donde siguieron a Chile en 1940.
Doce familiares de Stein, entre ellos sus abuelos, fallecieron en campos de concentración.</p>

<p>En la década de 1940 fue alumno privado de canto de Ilse Pollak, madre de la compositora Leni Alexander, y de Bronislava
Lomnitz. Luego estudió con Clara Oyuela, titulándose en la Universidad de Chile. A partir de la década de 1950 participó
como cantante en numerosos estrenos de los compositores de su generación y conciertos de música de cámara. Entre 1966 y
1968 viajó a perfeccionarse en el Conservatorio de Praga y tomó clases en Alemania e Inglaterra. En 1968 fue nombrado
profesor de canto en la Universidad de Chile, participando en numerosos conciertos orquestales y de cámara. Tras el 11
de septiembre de 1973, Stein, que era militante del partido comunista, debió dejar el país junto a su familia, para
radicarse en Berlín Oriental. En esta ciudad, fue profesor del prestigioso Conservatorio Superior de Música Hanns Eisler
y ofreció conciertos de música chilena, checa y alemana en diversos países de Europa, hasta 1980, año en que Stein y su
mujer, Choly Melnick, decidieron regresar a Chile.</p>

<p>Durante la década de 1980, el Goethe-Institut Santiago constituyó uno de los pocos espacios en los que Stein pudo
desplegar su actividad como intérprete, hasta que en 1990, tras el retorno de la democracia, recuperó su puesto como
profesor en la Universidad de Chile. En el siglo XXI, ha recibido diversas distinciones por su trayectoria entre fue
nombrado miembro honorario de la Academia Chilena de Bellas Artes el 2014 y recibió la distinción Gratias Agit del
Ministerio de Relaciones Exteriores de la República Checa el 2016. Stein vive en Santiago de Chile.</p>
    </div>
</div>



<div class="card">
    <div class="card-header">
        Referencias y Publicaciones
    </div>

    <div class="card-body">
        <table class="table participantes">
            <tr>
                <th>Publicaciones de textos, grabaciones de audio o audiovisuales</th>
                <td>
                    <ul>
                        <li>Hanns Stein: „Die Wurzeln einer entwurzelten Stimme“, en: Musik im Exil. Folgen des Nazismus für die internationale
                        Musikkultur, Hanns-Werner Heister, Claudia Maurer Zenck, Peter Petersen (ed.), Frankfurt am Main: Fischer Taschenbuch,
                        1993, pp. 41-51.</li>
                        <li>La voz del cantante, Berlin: Henschel, 1982 (traducción del libro de Wolfram Seidner y Jürgen Wendler: Die Sängerstimme,
                        1978).</li>
                        <li>Hanns Stein y Cirilo Vila: Eisler – Brecht: Canciones, LP DICAP, Santiago de Chile, DCP-21, 1971.</li>
                        <li>Hanns Stein, Tenor. Obras para voz y cámara, CD SVR Producciones, Santiago de Chile, Archivo Exclusivo, Nr. 9-10, 2016.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Bibliografía</th>
                <td>
                    <ul>
                        <li>Luis Merino, Fernando García: „Noventa años del profesor Hanns Stein“, en: Revista Musical Chilena, 227 (2017), pp.
                        273-275.</li>
                        <li>Daniela Fugellie, „Hanns Stein“, en: Lexikon verfolgter Musiker und Musikerinnen der NS-Zeit, enciclopedia online,
                        Universidad de Hamburgo (2019): https://www.lexm.uni-hamburg.de/object/lexm_lexmperson_00002666</li>
                    </ul>
                </td>
            </tr>
        
            <tr>
                <th>Archivos</th>
                <td>
                    <ul>
                        <li>Archivo personal de Hanns Stein, Santiago de Chile.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Discografía</th>
                <td>
                    <ul>
                        <li>Hanns Stein y Cirilo Vila: Eisler – Brecht: Canciones, LP DICAP, Santiago de Chile, DCP-21, 1971.</li>
                        <li>Hanns Stein, Tenor. Obras para voz y cámara, CD SVR Producciones, Santiago de Chile, Archivo Exclusivo, Nr. 9-10, 2016.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Links de interés</th>
                <td>-</td>
            </tr>
            <tr>
                <th>Imágenes adjuntas</th>
                <td>-</td>
            </tr>

        </table>
    </div>
</div>



<div class="card">
    <div class="card-header">
        Eventos asociados
    </div>

    <div class="card-body">
        LISTA DE EVENTOS SIMILAR A LA BUSQUEDA DE CONCIERTOS
    </div>
</div>

</section>


{% endblock %}