{% macro campo(f, label, is_list=False) -%}
{% if f %}
    <tr>
        <th>{{ label }}:</th>
        <td>
        {% if is_list %}
            <ul>
                {% for i in f.split("\n") %}
                {% if i.strip() %}
                <li>{{ i|urlize(None, true, target="_blank") }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            {% for i in f.split("\n") %}
            {{ i|urlize(None, true, target="_blank") }}<br>
            {% endfor %}
        {% endif %}
        </td>
    </tr>
{% endif %}
{%- endmacro %}

{% extends 'public/layout_global.html' %}

{% set title=bio.musical_ensemble.name %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<section id="biografias">

<p>
    {% if bio.investigacion_autores %}
    {{_("Investigación realizada por ")}} {{ bio.investigacion_autores }}.
    {% endif %}
    {% if bio.investigacion_fecha %}{{ bio.investigacion_fecha }}{% endif %}
</p>


<div class="card">
    <div class="card-header">
        {{_("Datos de la Agrupación")}}
    </div>

    <div class="card-body">
        <table class="table">
            <tr class="first">
                <th>{{_("Nombre")}}:</th>
                <td>
                {{ bio.get_name() }}
                </td>
            </tr>
{{ campo(bio.fundacion, _("Fecha de fundación")) }}
{{ campo(bio.termino, _("Fecha de término")) }}
{{ campo(bio.musical_ensemble.musical_ensemble_type.name, _("Tipo de ensamble o agrupación")) }}
{{ campo(bio.integrantes, _("Integrantes")) }}
{{ campo(bio.repertorio, _("Repertorio")) }}
{{ campo(bio.premios, _("Premios, distinciones")) }}
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{_("Biografía")}}
    </div>

    <div class="card-body" style="text-align: justify;">
        {% for i in bio.biografia.split("\n") %}
        {{ i|urlize(None, true, target="_blank") }}<br>
        {% endfor %}
    </div>

    <div class="card-body">
        <table class="table">
{{ campo(bio.bibliografia, _("Bibliografía"), True) }}
{{ campo(bio.archivos, _("Archivos")) }}
{{ campo(bio.discografia, _("Discografía"), True) }}
{{ campo(bio.links, _("Enlaces de interés")) }}
{{ campo(bio.otros, _("Información adicional")) }}
        </table>
    </div>
</div>

{% if bio.medialinks.all() %}
<div class="card">
    <div class="card-header">
        {{_('Archivos Adjuntos')}}
    </div>

    <div class="card-body">
        <ul>
            {% for m in bio.medialinks.all() %}
            <li>
                {{ m.description|urlize(None, true, target="_blank") }} - <a style="display: inline"
                    href="{{ request.url_root }}_uploads/uploads/{{ m.filename }}" target="_blank">{{_('[Ver
                    Archivo]')}}</a>
            </li>
            <!-- <iframe src="{{ m.url }}" style="width: 100%; height: 30em;"></iframe> -->
            <!-- <p>
                <a href="{{ m.url }}">Ver</a>
            </p> -->
            {% endfor %}
        </ul>

    </div>
</div>
{% endif %}

<a role="button" href="{{ url_for('public.search', update='search', musical_ensemble_name=bio.musical_ensemble.id) }}"
    class="btn btn-primary">{{_('Eventos asociados')}}</a>

</section>


{% endblock %}