{% macro campo(f, label, xxx) -%}
{% if f %}
    <tr>
        <th>{{ label }}:</th>
        <td>
            {% for i in f.split("\n") %}
            {{ i|urlize(None, true, target="_blank") }}<br>
            {% endfor %}
        </td>
    </tr>
{% endif %}
{%- endmacro %}

{% extends 'public/layout_global.html' %}

{% set title=_('Biografía de')+' '+bio.person.first_name+' '+bio.person.last_name %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<section id="results">

<div class="card">
    <div class="card-header">
        {{_("Datos Personales")}}
    </div>

    <div class="card-body">
        <table class="table">
            <tbody>
                <tr class="first">
                    <th>{{_("Nombre Completo")}}:</th>
                    <td>
                    {% if bio.nombre_completo %}
                    {{ bio.nombre_completo }}
                    {% else %}
                    {{ bio.person.first_name }} {{ bio.person.last_name }}
                    {% endif %}
                    </td>
                </tr>
                {{ campo(bio.nacimiento_y_muerte, _("Nacimiento")) }}
                {{ campo(bio.familia, _("Informaciones familiares")) }}
            </tbody>
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        {{_("Información Profesional")}}
    </div>

    <div class="card-body">
        <table class="table participantes">
            {{ campo(bio.profesion, _("Profesión")) }}
            {{ campo(bio.instrumento, _("Instrumento / registro vocal / otros")) }}
            {{ campo(bio.estudios_formales, _("Lugar/es de estudio y años correspondientes")) }}
            {{ campo(bio.estudios_informales, _("Otros estudios")) }}
            {{ campo(bio.trabajo, _("Lugar/es de trabajo y años correspondientes")) }}
            {{ campo(bio.ensambles, _("Participación en ensambles y otros proyectos independientes")) }}
            {{ campo(bio.premios, _("Premios, distinciones")) }}
        </table>
    </div>
</div>


<div class="card">
    <div class="card-header">
        {{_("Biografía")}}
    </div>

    <div class="card-body">
        {% for i in bio.biografia.split("\n") %}
        {{ i|urlize(None, true, target="_blank") }}<br>
        {% endfor %}
    </div>
</div>



<div class="card">
    <div class="card-header">
        Referencias y Publicaciones
    </div>

    <div class="card-body">
        <table class="table participantes">
            <tr>
                <th>Publicaciones de textos, grabaciones de audio o audiovisuales</th>
                <td>
                    <ul>
                        <li>Hanns Stein: „Die Wurzeln einer entwurzelten Stimme“, en: Musik im Exil. Folgen des Nazismus für die internationale
                        Musikkultur, Hanns-Werner Heister, Claudia Maurer Zenck, Peter Petersen (ed.), Frankfurt am Main: Fischer Taschenbuch,
                        1993, pp. 41-51.</li>
                        <li>La voz del cantante, Berlin: Henschel, 1982 (traducción del libro de Wolfram Seidner y Jürgen Wendler: Die Sängerstimme,
                        1978).</li>
                        <li>Hanns Stein y Cirilo Vila: Eisler – Brecht: Canciones, LP DICAP, Santiago de Chile, DCP-21, 1971.</li>
                        <li>Hanns Stein, Tenor. Obras para voz y cámara, CD SVR Producciones, Santiago de Chile, Archivo Exclusivo, Nr. 9-10, 2016.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Bibliografía</th>
                <td>
                    <ul>
                        <li>Luis Merino, Fernando García: „Noventa años del profesor Hanns Stein“, en: Revista Musical Chilena, 227 (2017), pp.
                        273-275.</li>
                        <li>Daniela Fugellie, „Hanns Stein“, en: Lexikon verfolgter Musiker und Musikerinnen der NS-Zeit, enciclopedia online,
                        Universidad de Hamburgo (2019): https://www.lexm.uni-hamburg.de/object/lexm_lexmperson_00002666</li>
                    </ul>
                </td>
            </tr>
        
            <tr>
                <th>Archivos</th>
                <td>
                    <ul>
                        <li>Archivo personal de Hanns Stein, Santiago de Chile.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Discografía</th>
                <td>
                    <ul>
                        <li>Hanns Stein y Cirilo Vila: Eisler – Brecht: Canciones, LP DICAP, Santiago de Chile, DCP-21, 1971.</li>
                        <li>Hanns Stein, Tenor. Obras para voz y cámara, CD SVR Producciones, Santiago de Chile, Archivo Exclusivo, Nr. 9-10, 2016.</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th>Links de interés</th>
                <td>-</td>
            </tr>
            <tr>
                <th>Imágenes adjuntas</th>
                <td>-</td>
            </tr>

        </table>
    </div>
</div>



<div class="card">
    <div class="card-header">
        Eventos asociados
    </div>

    <div class="card-body">
        LISTA DE EVENTOS SIMILAR A LA BUSQUEDA DE CONCIERTOS
    </div>
</div>

</section>


{% endblock %}