{% extends 'public/layout_global.html' %}

{% set title=_('Biografías') %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<p>
{{_('Introducción para las biografías, textos sobre el proyecto FONDART, alcance, más información')}} 
</p>

<p>
[por definir DANIELA]
</p>

<ol>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
</ol>


{% endblock %}