{% macro vida(e) -%}
{%
if e.birth_year and e.death_year
%}({{ e.birth_year }} - {{ e.death_year }}){%
elif e.birth_year and not e.death_year
%}( {{ e.birth_year }} - ){%
elif not e.birth_year and e.death_year
%}( - {{ e.death_year }}){%
endif
%}
{%- endmacro %}

{% extends 'public/layout_global.html' %}

{% set title=_('Biografías') %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<p>
{{_('Introducción para las biografías, textos sobre el proyecto FONDART, alcance, más información')}} 
</p>

<h3>{{_("Personas")}}</h3>

{% for x in bio_persons %}
<p>
    <strong><a href="{{ url_for('public.bio_id', id=x.id) }}">
        {{ x.person.first_name }} {{ x.person.last_name }}</a></strong> 
        {{ vida(x.person) }}
    <br>
    {% if x.person.biography %}
        {{ x.person.biography|replace('.', '')|safe }}.
    {% endif %}
    {{ x.biografia|truncate(270,False)|safe }}
    <a href="{{ url_for('public.bio_id', id=x.id) }}">{{_("Leer más")}}</a>
</p>
{% endfor %}

<h3>{{_("Agrupaciones")}}</h3>

{% for x in bio_ensembles %}
<p>
    <strong><a href="{{ url_for('public.bio_id', id=x.id) }}">
            {{ x.musical_ensemble.name }}</a></strong>
    <br>
    {{ x.biografia|truncate(300,False)|safe }}
    <a href="{{ url_for('public.bio_id', id=x.id) }}">{{_("Leer más")}}</a>
</p>
{% endfor %}


{% endblock %}