{% extends 'public/layout_global.html' %}

{% set title=_('Biografías') %}
{% set sidebar='public/sidebar_bio.html' %}

{% block content %}

<h2>{{ title }}</h2>

<p>
(Daniela, traducir al español) In this section you will find biographies of Chilean performers and ensembles of art music
during the 20th century, that are the product of archival research and interviews with
performers and their families. The biographies were developed in the framework of the
research project Fondo de la Música 583750 “Biographies of Chilean performers of art
music, 1945–1995” (2021/22). Aside from the research team, several other researchers
have contributed biographies. The authors’ names are indicated in each article. Did you
not find what you were looking for? Do you think other performers or ensembles should
be included in this web site? Would you like to collaborate with us? Don’t hesitate to write
us at the following email: dfugellie@uahurtado.cl.
</p>

<hr>


<ol>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
    <li><a href="{{ url_for('public.bio_id', id=1) }}">Stein, Hanns</a></li>
</ol>


{% endblock %}