{% extends 'public/layout_global.html' %}

{% set title="[%s] %s en %s, %s" % (e.event_type.name, e.name or "(no especificado)" , e.location.name, e.year ) %}

{% block content %}

{% macro persona(i) -%}
    {% if i.get_name() in ['Desconocido', 'Anónimo'] %}
    {{ i.get_name() }}
    {% else %}
    <a href="#" data-toggle="modal" data-target="#modalPersona{{ i.id }}" style="display: inline;">{{ i.get_name() }}</a>
    {% endif %}
{%- endmacro %}


{% macro fecha(e) -%}
{%
    if e.day and e.month
    %}{{ '%02d' % e.day }}/{{ '%02d' % e.month }}/{%
        endif
    %}{{ e.year }}
{%- endmacro %}


{% macro vida(e) -%}
{%
    if e.birth_year and e.death_year
        %}({{ e.birth_year }} - {{ e.death_year }}){%
    elif e.birth_year and not e.death_year
        %}( {{ e.birth_year }} - ){%
    elif not e.birth_year and e.death_year
        %}( - {{ e.death_year }}){%
    endif
%}
{%- endmacro %}

<h2>{{_('Información del Evento')}}</h2>

<section id="results">

    <!-- Modal para la biografia -->
    {% for p in personas %}
    <div class="modal fade" id="modalPersona{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="modalPersona{{ p.id }}"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
    
                <div class="modal-body">
    
                    <table class="table">
                        <tbody>
                            <tr class="lead">
                                <th>{{_('Nombre:')}}</th>
                                <td>{{ p.first_name }}</td>
                            </tr>
                            <tr class="lead">
                                <th>{{_('Apellido:')}}</th>
                                <td>{{ p.last_name }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Género:')}}</th>
                                <td>{{ p.gender and p.gender.name or "?" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Nacimiento:')}}</th>
                                <td>{{ p.birth_year or "" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Muerte:')}}</th>
                                <td>{{ p.death_year or "" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('País(es):')}}</th>
                                <td>{{ p.nationalities|map(attribute='name')|join(', ') }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {% if p.biography %}
                </div>
                <div class="modal-body">
                    <p><strong>{{_('Información Biográfica')}}</strong></p>
                    {% for x in p.biography.split("\n") %}
                    <p>{{ x|urlize(400, true, target="_blank") }}</p>
                    {% endfor %}
                    {% endif %}
                    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('Cerrar')}}</button>
                    {% if p.is_composer %}
                    <a role="button" href="{{ url_for('public.search', update='search', compositor_name=p.id) }}" class="btn btn-primary">{{_('Eventos asociados')}}</a>
                    {% else %}
                    <a role="button" href="{{ url_for('public.search', update='search', participant_name=p.id) }}"
                        class="btn btn-primary">{{_('Eventos asociados')}}</a>
                    {% endif %}
                    {% if p.has_bio() %}
                    <a role="button" href="{{ url_for('public.bio_id', id=p.get_bio().id) }}" class="btn btn-primary">
                        {{_("Biografía Extendida")}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr class="lead">
                <th>{{_('Nombre:')}}</th>
                <td>{{ e.name or "(no especificado)" }}</td>
            </tr>
            <tr>
                <th>{{_('Ciclo:')}}</th>
                <td>{{ e.cycle.name or "(no especificado)"  }}</td>
            </tr>
            <tr>
                <th>{{_('Tipo de Evento:')}}</th>
                <td>{{ e.event_type.name }}</td>
            </tr>
            <tr>
                <th>{{_('Fecha:')}}</th>
                <td>{{ fecha(e) }}</td>
            </tr>

            <tr>
                <th>{{_('Organizador(es):')}}</th>
                <td>
                    <!-- {{ e.organizations|map(attribute='name')|join('<br>') }} -->
                    <ul>
                        {% for org in e.organizations %}
                        <li>
                            {{ org.get_name() }}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{{_('Ciudad:')}}</th>
                <td>{{ e.location.city.name }}</td>
            </tr>
            <tr>
                <th>{{_('Locación:')}}</th>
                <td>{{ e.location.name }}</td>
            </tr>

        </tbody>
    </table>


    {% if participantes %}
    <div class="card">
        <div class="card-header">
            {{_('Participante(s)')}}
        </div>

        <div class="card-body">

            <table class="table participantes">
                <thead>
                    <tr>
                        <th>{{_('Nombre')}}</th>
                        <th>{{_('Género')}}</th>
                        <th>{{_('Actividad')}}</th>
                        <!-- <th>Instrumento</th> -->
                        <th>{{_('País(es)')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in participantes %}
                    <tr>
                        <td class='participante'>
                            {% if i.person and i.musical_ensemble %}
                                - <a href="#" data-toggle="modal" data-target="#modalPersona{{ i.person.id }}" style="display: inline;">                                
                                    {{ i.get_short_name()|replace(i.musical_ensemble.name, '')|replace('[]', '') }}
                                </a>
                            {% elif i.person and not i.musical_ensemble %}
                                <a href="#" data-toggle="modal" data-target="#modalPersona{{ i.person.id }}" style="display: inline;">
                                    {{ i.get_short_name() }}
                                </a>
                                {% if i.person.has_bio() %}
                                <a href="{{ url_for('public.bio_id', id=i.person.get_bio().id) }}">
                                    <small>({{_("Biografía Extendida")}})</small>
                                </a>
                                {% endif %}
                            {% else %}
                                <p>
                                    <strong>{{ i.musical_ensemble.name }}</strong>
                                </p>
                            {% endif %}
                        </td>
                        <td>
                            {{ i.person and i.person.gender.name or "" }}
                        </td>
                        <td>
                            {{ i.activity.name or "" }}
                        </td>
                        <td>
                            {% if i.person %}
                            {{ i.person.nationalities|map(attribute='name')|join(', ') }}
                            {% endif %}
                        </td>
                    </tr>                      
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}


    <!-- Removido -->
    {% if False and compositores %}
    <div class="card">
        <div class="card-header">
            {{_('Compositor(es)')}}
        </div>

        <div class="card-body">

            <table class="table participantes">
                <thead>
                    <tr>
                        <th>{{_('Nombre')}}</th>
                        <th>{{_('Género')}}</th>
                        <th>{{_('País(es)')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in compositores %}

                    <tr>
                        <td class='participante'>
                            {{ persona(i) }}
                            {{ vida(i) }}
                        </td>
                        <td>
                            {{ i and i.gender.name or "" }}
                        </td>
                        <td>
                            {{ i.nationalities|map(attribute='name')|join(', ') }}
                        </td>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}


    {% if e.performances.all() %}
    <div class="card">
        <div class="card-header">
            {{_('Repertorio')}}
        </div>

        <div class="card-body">

            <table class="table performances">
                <!-- <thead>
                    <tr>
                        <th>Compositor</th>
                        <th>Obra</th>
                        <th>Participantes</th>
                    </tr>
                </thead> -->
                <tbody>
                    {% for p in e['performances'] %}
                    <tr>
                        <td class='compositores'>
                            <ul>
                                {% for c in p.musical_piece.composers %}
                                <li>
                                    <strong>
                                        <a href="#" data-toggle="modal" data-target="#modalPersona{{ c.id }}"
                                        style="display: inline;">
                                        {{ c.get_name() }}
                                        </a>
                                    </strong>
                                </li>
                                <li>
                                    <!-- ({{ c.nationalities|map(attribute='name')|join(', ') }}) -->
                                    {{ vida(c) }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class='piece'>
                            <ul>
                                <li>
                                    <em>{{ p.musical_piece.name }}</em>
                                    {% if p.musical_piece.composition_year %}-
                                    {{ p.musical_piece.composition_year }}{% endif %}
                                </li>
                                {% if p.premiere_type.name != "No" %}
                                <li>
                                    <em>{{_('ESTRENO:')}}' {{ p.premiere_type.name }}</em>
                                </li>
                                {% endif %}
                                {% if p.musical_piece.instruments %}
                                <li>
                                    {{_('Instrumentos:')}}' {{ p.musical_piece.instruments|map(attribute='name')|join(' - ') }}
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                        <td class="participantes">
                            <ul>
                                {% for i in p.participants %}
                                <li>
                                    {{ i.activity.name }}:
                                    {% if i.person %}
                                    <a href="#" data-toggle="modal" data-target="#modalPersona{{ i.person.id }}"
                                        style="display: inline;">{{ i.get_short_name() }}</a>
                                    {% else %}
                                        {{ i.get_short_name() }}
                                    {% endif %}
                                    {% if i.musical_ensemble %}
                                    {{_('[Agrupación]')}}' {{ i.musical_ensemble.name }}
                                    {% endif %}

                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}


    {% if e.information %}
    <div class="card">
        <div class="card-header">
            {{_('Información Adicional')}}
        </div>
    
        <div class="card-body">
            {% for i in e.information.split("\n") %}
            {{ i|urlize(400, true, target="_blank") }}<br>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% if e.sources %}
    <div class="card">
        <div class="card-header">
            {{_('Fuentes')}}
        </div>
    
        <div class="card-body">
            {% for i in e.sources.split("\n") %}
            {{ i|urlize(400, true, target="_blank") }}<br>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% if e.medialinks.all() %}
    <div class="card">
        <div class="card-header">
            {{_('Información Gráfica')}}
        </div>
    
        <div class="card-body">
            <ul>
            {% for m in e.medialinks.all() %}
                <li>
                {{ m.description|urlize(None, true, target="_blank") }} - <a style="display: inline" 
                href="{{ request.url_root }}_uploads/uploads/{{ m.filename }}" 
                target="_blank">{{_('[Ver Archivo]')}}</a>
                </li>
            <!-- <iframe src="{{ m.url }}" style="width: 100%; height: 30em;"></iframe> -->
            <!-- <p>
                <a href="{{ m.url }}">Ver</a>
            </p> -->
            {% endfor %}
            </ul>

        </div>
    </div>
    {% endif %}


    <a class="btn btn-primary mt-5" href="{{ url_for('public.search') }}">{{_('Volver a la búsqueda')}}</a>

</section>

{% endblock %}