{% extends 'public/layout_global.html' %}

{% set title=_('Intérpretes y Conciertos Doctos en Chile') %}
{% set sidebar='public/sidebar_inicio.html' %}

{% block content %}

{% include 'public/carousel.html' %}

<p>{{_('Bienvenid@ a “Intérpretes y Conciertos Doctos en Chile”. 
    En esta página encontrarás una base de datos de conciertos y 
    otros eventos musicales realizados en Chile, mayormente a partir 
    de 1945, además de biografías de diversos intérpretes de música 
    docta chilena de los siglos XX y XXI.')}}</p>

<p>{{_('En la sección de Conciertos se presentan informaciones sobre más de 2.000 eventos 
    (conciertos, pero también talleres, charlas y otros), realizados mayormente en Santiago 
    de Chile entre 1945 y 1995. El repertorio corresponde mayormente a la música docta del 
    siglo XX, si bien se han incluido también programas desde la música antigua al siglo XIX, 
    de jazz y música popular. La base de datos se nutre de informaciones provenientes de 
    programas de concierto, reseñas de prensa y revistas musicales y puede ser navegada a 
    través de la búsqueda simple o de la búsqueda avanzada, que permite seleccionar y combinar 
    categorías (repertorio, intérpretes, instrumentos, lugar, etc.).')}}</p>

<p>
    {{_('En la sección de Biografías encontrarás biografías de intérpretes de música chilena 
    del siglo XX, redactadas a partir de nuestra investigación realizada en archivos, 
    entrevistas con los intérpretes y sus familiares. Por último, la lista de Participantes 
    y Compositores presenta todas las personas ingresadas en esta base de datos y remite a 
    los eventos o biografías en las que se mencionan. ')}}
</p>

<p>
    {{_('¿No encontraste lo que buscabas? ¿Crees que otros eventos o personas debieran figurar 
    en este página y quieres colaborar con nosotros? No dudes en escribirnos a dfugellie@uahurtado.cl.')}}
</p>

{% endblock %}