{% extends 'public/layout_global.html' %}

{% set title='Base de Datos de Conciertos en Chile' %}

{% block content %}

{% include 'public/carousel.html' %}

<p>Bienvenid@ a la base de datos “Conciertos doctos en Chile, 1945–1995”. En esta página
    encontrarás informaciones sobre más de 1.500 conciertos, pero también talleres, charlas y
    otros eventos afines, realizados en general en Santiago de Chile entre 1945 y 1995. El
    repertorio corresponde mayormente a la música docta del siglo XX, si bien se han incluido
    también programas desde la música antigua al siglo XIX, además de conciertos de jazz y
    música popular de carácter experimental.</p>

<p>Los datos provienen de programas de concierto, reseñas de prensa y de revistas musicales,
    recopilados en el marco del proyecto Fondecyt de Iniciación 11170844 “Espacios
    alternativos de la música contemporánea en Chile, 1945–1995”, desarrollado entre el 2017
    y el 2020. En la base de datos trabajaron Sergio Araya, Gerardo Marcoleta y Constanza Toledo.
    En línea con el proyecto, los conciertos reflejan la vida musical gestada en torno
    a los Institutos Chileno-Británico, Chileno-Francés y Chileno-Alemán de Cultura, el
    Goethe-Institut y otros espacios distintos a la institucionalidad ‘oficial’ de la música
    chilena, si bien algunos eventos reflejan colaboraciones con la Universidad de Chile o el
    Teatro Municipal.</p>

<p>La base de datos puede ser navegada seleccionando o combinando categorías de búsqueda
    (repertorio, intérpretes, instrumentos, lugar, etc.). En algunos casos, los eventos presentan
    también las fuentes de las que proviene la información.</p>

{% endblock %}