<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{{ url_for('public.show', page='page_about') }}" id="m-about" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Información') }}</a>
      <div class="dropdown-menu" aria-labelledby="m-about">
        <a class="dropdown-item" href="{{ url_for('public.inicio') }}" id="m-inicio">{{_('Inicio')}}</a>
        <a class="dropdown-item" href="{{ url_for('public.show', page='page_about') }}">{{_('Acerca de')}}</a>
        <a class="dropdown-item" href="{{ url_for('public.show', page='page_consultar') }}" id="m-consultar">{{_('Cómo
          Consultar')}}</a>
        <a class="dropdown-item" href="{{ url_for('public.show', page='page_citar') }}" id="m-citar">{{_('Cómo Citar')}}</a>
        <a class="dropdown-item" href="{{ url_for('public.show', page='page_enlaces') }}" id="m-enlaces">{{_('Enlaces de
          Interés')}}</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('public.search', update='search') }}" id="m-conciertos">{{_('Conciertos')}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('public.biographies') }}" id="m-biografias">{{_('Biografías')}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('public.person', initial='A') }}" id="m-personas">{{_('Participantes y Compositores')}}</a>
    </li>
    
    <!--                   
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Acerca de
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" id="m-periodos" href="about.html#">Periodos</a>
                      <a class="dropdown-item" id="m-Compositor(a)es" href="about.html#">Compositor(a)</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" id="m-ubicaciones" href="about.html#">Datos proyecto</a>
                    </div>
                  </li>
 -->
</ul>