<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('public.inicio') }}" id="m-inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('public.person', initial='A') }}" id="m-consultar">Personas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('public.show', page='page_consultar') }}" id="m-consultar">Cómo Consultar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.show', page='page_about') }}" id="m-about">Acerca de</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.show', page='page_enlaces') }}" id="m-enlaces">Enlaces de Interés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.index') }}">Admin</a>
    </li>
    
    <!--                   
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Acerca de
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" id="m-periodos" href="about.html#">Periodos</a>
                      <a class="dropdown-item" id="m-Compositor(a)es" href="about.html#">Compositor(a)</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" id="m-ubicaciones" href="about.html#">Datos proyecto</a>
                    </div>
                  </li>
 -->
</ul>