{% extends 'public/layout_global.html' %}

{% set title=_('Cómo Consultar') %}
{% set sidebar='public/sidebar_about.html' %}

{% block content %}

<h2>{{ title }}</h2>


<p class="text-right">
<figure class="figure px-4 pt-4">
    <img src="{{ url_for('static', filename='public/images/page-consultar.jpg') }}"
        class="figure-img img-fluid rounded" alt="">
    <figcaption class="figure-caption text-right"></figcaption>
</figure>
</p>

<p>{{ _("En esta sección te explicaremos qué tipo de información encontrarás en las pestañas de
Conciertos, Biografías y Participantes y Compositores y cómo consultarlas.") }}</p>


<h2>1. {{_("Conciertos")}} </h2>
{% for line in _('La base de datos permite realizar una búsqueda simple ingresando palabras clave. En este caso, el resultado de la búsqueda contiene una lista de todos los eventos que incluyen las palabras claves que se buscaron, las que aparecen destacadas bajo el título del evento. Esta búsqueda arrojará resultados por relevancia. Para resultados en orden cronológico, se sugiere usar los filtros de búsqueda.

También es posible realizar una búsqueda avanzada seleccionando diversos filtros de búsqueda. El resultado de la búsqueda siempre será una lista de “eventos” ordenados cronológicamente, la que podrá seguir siendo filtrada con el uso de nuevas categorías. En caso de que los eventos estén incompletos en alguno de sus items (sin nombre, sin nombre de ciclo, sin lugar, sin repertorio, etc.) esto quiere decir que dichas informaciones no se encontraban disponibles en las fuentes consultadas.

Para comenzar una nueva búsqueda, se recomienda seleccionar la opción “limpiar”, para borrar los filtros que se utilizaron en la última búsqueda.

La búsqueda avanzada está organizada en diversas categorías y es posible seleccionar diferentes categorías al mismo tiempo, a fin de realizar preguntas complejas, tales como: ¿Qué obras para piano de Beethoven se interpretaron el año 1985? O también, ¿qué obras para piano de Beethoven se interpretaron en el Goethe-Institut el año 1985, siendo las pianistas mujeres?').splitlines() %}
{{line|safe}}<br>{% endfor %}<br>

<h3>{{_("Filtros de Búsqueda")}} </h3>
{% for line in _('<strong>Fechas:</strong> Permite elegir un rango temporal entre 1900 y el día de hoy. Las fechas se pueden tipear manualmente o bien ser seleccionadas en el calendario.

<strong>Información del evento:</strong> Permite seleccionar un ciclo o un tipo de evento desde la lista de posibilidades ingresadas en la base de datos, las que se mostrarán como lista.

<strong>Lugar del evento:</strong> Los organizadores, lugares y ciudades pueden seleccionarse desde la lista de posibilidades ingresadas. Muchas veces los lugares y los organizadores son equivalentes.

<strong>Participantes:</strong> Corresponde a quienes participaron físicamente en los eventos, indicando su nombre, género, país o países, y la actividad realizada en el evento, la que se puede seleccionar de una lista de posibilidades ingresadas. Es posible seleccionar diversas actividades simultáneamente.

<strong>Compositores:</strong> Corresponde a los compositores/as, cuyas obras fueron interpretadas en conciertos, los que pueden ser seleccionados desde una lista o consultando la pestaña Participantes y Compositores. También se puede seleccionar una opción de género o de países.

<strong>Repertorio:</strong> Corresponde a las obras interpretadas en los conciertos, las que pueden buscarse por nombre, instrumentos o tipo de instrumentos desde una lista de posibilidades ingresadas, o indicar si es que fueron estrenos en Chile o mundiales.

<strong>Agrupaciones:</strong> Corresponde a agrupaciones musicales (ensambles, coros, cuartetos de cuerdas, etc) que participaron en los eventos. Pueden buscarse por nombre o por tipos de agrupaciones, desde una lista de posibilidades ingresadas en la base de datos.
').splitlines() %}
{{line|safe}}<br>{% endfor %}<br>


<h2>2. {{_("Biografías")}} </h2>
{% for line in _('En esta sección se presentan, en orden alfabético, (1) biografías de personas y (2) de agrupaciones musicales. Dentro de las biografías, se encontrarán también materiales adjuntos, como también hipervínculos a otras personas y agrupaciones contenidas en la base de datos.').splitlines() %}
{{line|safe}}<br>{% endfor %}<br>

<h2>3. {{_("Participantes y Compositores")}} </h2>
{% for line in _('Esta sección presenta una lista de todas las personas ingresadas en la base de datos, ya sea como participantes de eventos o como compositor@s de obras ingresadas. Al consultar un nombre en particular, se indican los eventos a los que dicha persona está asociada.').splitlines() %}
{{line|safe}}<br>{% endfor %}<br>

<h2>4. {{_("Agrupaciones")}} </h2>
{% for line in _('Esta sección presenta una lista de todas las agrupaciones presentes en la base de datos. Como en la sección anterior, al consultar un nombre en particular, se indican los eventos en los que la agrupación está asociada.').splitlines() %}
{{line|safe}}<br>{% endfor %}<br>


{% endblock %}