{% extends 'public/layout_global.html' %}

{% set title=_('Cómo citar la base de datos') %}
{% set sidebar='public/sidebar_about.html' %}

{% block content %}

<h2>{{ title }}</h2>


<!-- <p class="text-right">
<figure class="figure px-4 pt-4">
    <img src="{{ url_for('static', filename='public/images/page-consultar.jpg') }}"
        class="figure-img img-fluid rounded" alt="">
    <figcaption class="figure-caption text-right"></figcaption>
</figure>
</p> -->

<p>{{_('La base de datos “Intérpretes y Conciertos Doctos en Chile” contiene informaciones de 
    más de 2.000 eventos musicales y más de 50 biografías de intérpretes y agrupaciones, 
    los que muchas veces proveen fuentes, tales como programas y reseñas de los eventos. 
    Por lo mismo, la herramienta puede ser utilizada para recopilar informaciones sobre 
    personas y eventos, pero constituye también una colección digital de fuentes primarias. 
    Mientras que su uso es gratuito, esperamos que su utilización en el marco de trabajos 
    de investigación sea consignada en las publicaciones correspondientes.')}}
</p>

<p>{{_('Recomendamos estos sistemas de citación.')}}</p>

<p>{{_('1) Para fuentes en particular:')}}</p>

<blockquote>
{{_('[Nombre de fuente, lugar, año], consultada en: Base de datos “Intérpretes 
y Conciertos doctos en Chile”. https://basedeconciertos.uahurtado.cl/ (fecha de consulta).')}}
</blockquote>

<p>
    {{_('2) Para búsquedas generales vinculadas a personas o eventos musicales:')}}
</p>

<blockquote>
    {{_('Los eventos/las informaciones correspondientes a [….] fueron consultados/as en:')}}<br/>
    {{_('Base de datos “Intérpretes y Conciertos doctos en Chile”.')}}
    {{_('https://basedeconciertos.uahurtado.cl/ (fecha de consulta).')}}
</blockquote>

<p>
    {{_('3) Para biografías de personas o agrupaciones:')}}
</p>

<blockquote>
    {{_('Autor/a, “Nombre de la persona o agrupación”, consultada en:')}}<br/>
    {{_('Base de datos “Intérpretes y Conciertos doctos en Chile”.')}}
    {{_('https://basedeconciertos.uahurtado.cl/ (fecha de consulta).')}}
</blockquote>

<p>
    {{_('Ejemplo:')}}
</p>

<blockquote>
    {{_('Constanza Toledo, “María Iris Radrigán”, consultada en:  
    Base de datos “Intérpretes y Conciertos Doctos en Chile”. 
    https://basedeconciertos.uahurtado.cl/ (fecha de consulta).')}}
</blockquote>

{% endblock %}