{% extends 'public/layout_global.html' %}

{% set title='Enlaces de Interés' %}

{% block content %}

<h2>{{ title }}</h2>

<p>
    Diversos archivos virtuales y físicos dialogan con los conciertos aquí recopilados. En el marco del Fondecyt de
    Iniciación 11170844 se realizó la inventarización del Fondo Documental Anacrusa, donado por Eduardo Cáceres al
    Archivo de Música de la Biblioteca Nacional de Chile. Este archivo contiene partituras, grabaciones de audio y
    videos, fotografías, programas de concierto y documentos administrativos, además de una extensa colección de
    correspondencia vinculada a los festivales y conciertos de la Agrupación Muslcal Anacrusa.
</p>

<p>
    <!-- <a class="text-success"
        href="https://www.google.com/search?q=Fondo+Documental+Anacrusa&oq=Fondo+Documental+Anacrusa&aqs=chrome..69i57j33.787j0j7&sourceid=chrome&ie=UTF-8">Consultar
        el Fondo Documental Anacrusa (este link aún no existe).</a> -->
    <a class="text-success" href="{{ url_for('static', filename='public/GUIA_DE_FONDO_DOCUMENTAL_ANACRUSA.pdf') }}"
    target="_blank">Consultar la Guía del Fondo Documental Anacrusa</a>
</p>


<p>
    Dentro de los programas de conciertos de la década de 1950, destacan los conciertos de música contemporánea del
    grupo Tonus en los Institutos Chileno-Británico, Chileno-Alemán y Chileno-Francés de Cultura. El proyecto “Tonus-
    Vanguardia de los años 50” ha puesto a disposición por primera vez grabaciones de obras de algunos de sus
    principales integrantes.
</p>

<p>
    <a class="text-success" href="http://www.proyecto-tonus.com">http://www.proyecto-tonus.com</a>
</p>


<p>
    Algunas publicaciones vinculadas a los ejes del proyecto se encuentran en la página de Daniela Fugellie en
    Academia.edu
</p>

<p>
    <a class="text-success"
        href="https://uahurtado.academia.edu/DanielaFugellie">https://uahurtado.academia.edu/DanielaFugellie</a>
</p>



<h3>Enlaces Institucionales</h3>

<p class="link-interes">
    Instituto de Música UAH
    <a class="text-success"
        href="https://filosofiahumanidades.uahurtado.cl/departamentos/instituto-musica/">https://filosofiahumanidades.uahurtado.cl/departamentos/instituto-musica/</a>
</p>


{% endblock %}