{% extends 'public/layout_global.html' %}

{% set title='Acerca de la Base de Datos de Conciertos en Chile' %}

{% block content %}

<h2>{{ title }}</h2>

<p class="text-right">
<figure class="figure px-4 pt-4">
    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17239ab34c3%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17239ab34c3%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22148.84375%22%20y%3D%22159.15%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption text-right">[Elegir imagen para esta posicion]</figcaption>
</figure>
</p>

<p>El proyecto <a href="https://www.conicyt.cl/fondecyt/">Fondecyt de Iniciación</a> 11170844 
    “Espacios alternativos de la música
    contemporánea en Chile, 1945–1995” (2017–2020) de la investigadora responsable Daniela
    Fugellie, investigó ‘espacios alternativos’ de la interpretación y creación de la música
    contemporánea, desarrollados en cooperación con instituciones de un perfil internacional, y
    especialmente de los Institutos Chileno-Británico de Cultura, Chileno-Alemán de Cultura y
    Goethe-Institut. Por ‘espacios alternativos’ se entendieron proyectos independientes, los
    cuales abrieron espacios de experimentación en nuevos repertorios y tendencias estéticas,
    diferenciándose de la estética difundida por las instituciones musicales oficiales del país,
    especialmente las vinculadas a la Universidad de Chile. </p>

<p>Junto con realizar una
    reconstrucción panorámica de eventos musicales, sus características y protagonistas, se
    profundizó en dos proyectos de música contemporánea: Tonus (1952–1959) y Anacrusa (1985–1995), ahondando en su
    influencia para el desarrollo de la música chilena y sus
    relaciones con los institutos culturales europeos. La colaboración entre Anacrusa y el
    Goethe-Institut Santiago fue analizada desde el trasfondo de los lineamientos de la
    diplomacia cultural de la República Federal Alemana. Los resultados de este proyecto han
    sido presentados en conferencias y publicaciones nacionales e internacionales.</p>

<p>Mayores informaciones: Daniela Fugellie, <a href="mail">dfugellie@uahurtado.cl</a>.</p>.

{% endblock %}