{% extends 'public/layout_global.html' %}

{% set title=_('Catálogo de Participantes y Compositores') %}

{% block content %}

<h2>{{ title }}</h2>

<p>
{{_("Esta pestaña contiene un catálogo de todas las personas ingresadas en la base
de datos, ya sea como participantes de los eventos (intérpretes, directores/as,
expositores/as) o como compositores/as de obras que se interpretaron en
conciertos ingresados. Por esta razón, el catálogo abarca personas de diversos
países y períodos históricos. Junto con ofrecer datos biográficos básicos, como
años de nacimiento y muerte, el catálogo permite acceder a todos los eventos
asociados a una persona en particular.")}}
</p>
<style type="text/css">
#catalogo {
    margin: 2em 0;
}
#catalogo .nav-link {
    padding: 5px 7px;
}

</style>

<div class="card" id="catalogo">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">

            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
            <li class="nav-item">
                <a class="nav-link {% if l == initial %}active{% endif %}" href="{{ url_for('public.person', initial=l) }}">{{ l }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ personas|length }} {{_('personas con inicial')}} "{{ initial }}"</h5>
        
        <ol class="row my-5">
            {% for p in personas %}
            <li class="col-sm-6">
                <a href="#" data-toggle="modal" data-target="#modalPersona{{ p.id }}" style="display: inline;">
                    {{ p.get_name() }} 
                    <!-- {% if p.birth_year or p.death_year %}({{ p.birth_year or '' }} - {{ p.death_year or '' }}){% endif %} -->
                </a>
                
            </li>
            {% endfor %}
        </ol>
    </div>
</div>


    <!-- Modal para la biografia -->
    {% for p in personas %}
    <div class="modal fade" id="modalPersona{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="modalPersona{{ p.id }}"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
    
                <div class="modal-body">
    
                    <table class="table">
                        <tbody>
                            <tr class="lead">
                                <th>{{_('Nombre:')}}</th>
                                <td>{{ p.first_name }}</td>
                            </tr>
                            <tr class="lead">
                                <th>{{_('Apellido:')}}</th>
                                <td>{{ p.last_name }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Género:')}}</th>
                                <td>{{ p.gender and p.gender.name or "?" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Nacimiento:')}}</th>
                                <td>{{ p.birth_year or "" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('Muerte:')}}</th>
                                <td>{{ p.death_year or "" }}</td>
                            </tr>
                            <tr>
                                <th>{{_('País(es):')}}</th>
                                <td>{{ p.nationalities|map(attribute='name')|join(', ') }}</td>
                            </tr>
                        </tbody>
                    </table>
    
                    {% if p.biography %}
                </div>
                <div class="modal-body">
                    <p><strong>{{_('Información Biográfica')}}</strong></p>
                    {% for x in p.biography.split("\n") %}
                    <p>{{ x|urlize(400, true, target="_blank") }}</p>
                    {% endfor %}
                    {% endif %}
    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    {% if p.musical_pieces %}
                    <a role="button" href="{{ url_for('public.search', update='search', compositor_name=p.id) }}"
                        class="btn btn-primary">{{_('Eventos asociados a esta
                        persona')}}</a>
                    {% else %}
                    <a role="button" href="{{ url_for('public.search', update='search', participant_name=p.id) }}"
                        class="btn btn-primary">{{_('Eventos asociados a esta
                        persona')}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}