{% extends 'public/layout_global.html' %}

{% set title=_('Resultados de la búsqueda') %}

{% block content %}
<h2>{{ title }}</h2>

<p>{{_('Los resultados que se muestran a continuación pueden ser refinados con los filtros de búsqueda disponibles a la izquierda de esta página.')}}</p>

<table 
    class="table table-striped" 
    id="searchResults"
    data-toggle="table"
    data-search="false"
    data-trim-on-search="false"
    data-show-footer="true"
    data-only-info-pagination="false"
    data-side-pagination="server"
    data-pagination="true"
    data-page-number="1"
    data-page-size="10"
    data-show-extended-pagination="true"
    data-url="{{url_for('public.get_events')}}"
>
    <thead>
        <tr>
            <th scope="col" data-field='title'>{{_('Evento')}}</th>
            <th scope="col" data-field='place'>{{_('Lugar')}}</th>
            <th scope="col" data-field='date'>{{_('Fecha')}}</th>
        </tr>
    </thead>

</table>

<!-- <pre>{{ query|pprint }}</pre>

<pre>{{ results|pprint }}</pre> -->

{% endblock %}