{% extends 'public/layout_global.html' %}

{% set title='Resultados de la búsqueda' %}

{% block content %}
<h2>{{ title }}</h2>

<p>Nota: Utilizando una base de datos de ejemplo, si se hace una <em>búsqueda rápida</em> cualquiera mostrará resultados.</p>

{% if not userquery %}
<p>Ingrese una búsqueda en el formulario a la izquierda</p>
{% else %}


<table 
    class="table table-striped" 
    id="searchResults"
    data-toggle="table"
    data-search="false"
    data-trim-on-search="false"
    data-show-footer="true"
    data-only-info-pagination="false"
    data-side-pagination="server"
    data-pagination="true"
    data-page-number="1"
    data-page-size="25"
    data-show-extended-pagination="true"
    data-url="{{url_for('public.get_events')}}"
>
    <thead>
        <tr>
            <th scope="col" data-field='title'>Evento</th>
            <th scope="col" data-field='place'>Lugar</th>
            <th scope="col" data-field='date'>Fecha</th>
        </tr>
    </thead>

</table>




{% endif %}
{% endblock %}