
<div class="content">

<h4>{{_('Sobre el Proyecto')}}</h4>

<p>
<a style="text-decoration: underline;" href="{{ url_for('public.show', page='page_about') }}">{{_('Acerca de')}}</a><br>
{{_('Proyecto Fondecyt de Iniciación 11170844')}}.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_consultar') }}" id="m-consultar">{{_('Cómo Consultar')}}</a><br>
{{_('Búsquedas ingresando palabras clave o filtros avanzados')}}.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_citar') }}" id="m-citar">{{_('Cómo Citar')}}</a><br>
{{_('Citaciones para fuentes en particular y búsquedas generales')}}.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_enlaces') }}" id="m-enlaces">{{_('Enlaces de Interés')}}</a><br>
{{_('Diversos documentos físicos y electrónicos dialogan con los conciertos aquí recopilados')}}.
</p>

</div>