{% set boxcycler = cycler(1,2,3,4,5,6,7,8,9) -%}
{% macro render_box(box, boxname) -%}
    {% set boxcount = boxcycler.next() -%}
        <div class="filtro">
            <div class="filtro-header">
                <a class="" data-toggle="collapse" href="#boxid{{ boxcount }}" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    {{ boxname }}
                </a>
            </div>
            <div class="filtro-body collapse {% if box.show %}show{% endif %}" id="boxid{{ boxcount }}">
        
                {% for item in box.fields %}
                <div class="form-group">
                    <!-- <label for="f-tipo">{{ item.placeholder }}</label> -->

                    {% if item.type == 'text' %}
                    <input class="form-control form-control-sm" type="text" id="sidebar{{ item.name }}" name="{{ item.name }}"
                        placeholder="[{{ item.placeholder }}]" value="{{ item.value or '' }}">
                    
                    {% elif item.type == 'select' %}
                    <select class="form-control form-control-sm" id="sidebar{{ item.name }}" name="{{ item.name }}">
                        <option value="">[{{ item.placeholder }}]</option>
                        {% for option in item['values'] %}
                        <option {% if option.value == item.value %} selected="selected" {% endif %} value="{{ option.value }}">
                            {{ option.label }}</option>
                        {% endfor %}
                    </select>

                    {% elif item.type == 'select2' %}
                        <div class="form-group">
                            <select class="dd_select2" 
                                description="[{{ item.placeholder }}]" 
                                id="{{ item.name }}" 
                                maxelem="10"
                                multiple="multiple"
                                name="{{ item.name }}" 
                                selectedElements="{{ item.value }}" 
                                url="{{ item.url }}">
                            </select>
                        </div>
                    {% else %}
                    Tipo {{ item.type }} no soportado
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
{%- endmacro %}


<form class="form" action="{{ url_for('public.search') }}" method="GET">





    <!-- <div class="container">
        <div class="form-group">
            <div class="text-success">
                <strong>Fechas</strong>
    
                <a href="#" role="button" data-toggle="popover" title="Fechas"
                    data-content='En este cuadro Ud. puede ingresar una o más palabras clave. La búsqueda contendrá resultados con cualquiera de estas palabras clave (equivalente a OR lógico).'><span
                        class="oi oi-question-mark"></span></a>
            </div>
            
            <div class="card">
                <div class="filtro-body card-body">
                    <div class="form-group">
                        <label for="f-desde">Desde</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input name="f-desde" type="text" class="form-control" value="01/01/1945">
                            <div class="input-group-addon">
                                <span class="oi oi-calendar"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="f-hasta">Hasta</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input name="f-hasta" type="text" class="form-control" value="31/12/1995">
                            <div class="input-group-addon">
                                <span class="oi oi-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->

    <div class="container">
        <div class="form-group">
            <label class="text-success" for="keyword">
                <strong>Búsqueda Rápida</strong>
            </label>

            <a href="#" role="button" data-toggle="popover" title="Acerca de la Búsqueda Rápida"
                data-content='En este cuadro Ud. puede ingresar una o más palabras clave. La búsqueda contendrá resultados con cualquiera de estas palabras clave (equivalente a OR lógico).'><span
                    class="oi oi-question-mark"></span></a>


            <input class="form-control" type="search" name="keywords" id="keywords" value="{{ filters.keywords }}"
                placeholder="[palabras clave]" />
        </div>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </div>



    <div class="container">
        <p class="text-success">
            <strong>Filtros de Búsqueda</strong>
            <a href="#" role="button" data-toggle="popover" title="Cómo usar los filtros de búsqueda"
                data-content='Los campos del filtro de búsqueda sirven para restingir resultados, por ejemplo si Ud. selecciona Lugar = Santiago y Compositor/a = Alfonso Leng, los resultados contendrán sólo aquellos eventos con Alfonso Leng y Santiago simultáneamente.'><span
                    class="oi oi-question-mark"></span></a>
        </p>


        <div class="filtro">
            <div class="filtro-header">
                <a class="" data-toggle="collapse" href="#boxid0" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Fechas
                </a>
            </div>
            <div class="filtro-body collapse {% if filters.fecha['show'] %}show{% endif %}" id="boxid0">


                    <div class="form-group">
                        <label for="fecha_desde">Desde</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input name="fecha_desde" type="text" class="form-control" value="{{ filters.fecha['desde'] }}">
                            <div class="input-group-addon">
                                <span class="oi oi-calendar"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="fecha_hasta">Hasta</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input name="fecha_hasta" type="text" class="form-control" value="{{ filters.fecha['hasta'] }}">
                            <div class="input-group-addon">
                                <span class="oi oi-calendar"></span>
                            </div>
                        </div>
                    </div>        
            </div>
        </div>

        {{ render_box(filters.evento, 'Información del evento') }}

        {{ render_box(filters.lugar, 'Lugar del evento') }}

        {{ render_box(filters.participantes, 'Participantes') }}

        {{ render_box(filters.compositores, 'Compositores') }}

        {{ render_box(filters.repertorio, 'Repertorio') }}

        {{ render_box(filters.agrupaciones, 'Agrupaciones') }}


        <button class="btn btn-outline-success" type="submit">Aplicar Filtros</button>
    </div>  
</form>

