
<div class="content">

<p>
<a style="text-decoration: underline;" href="{{ url_for('public.show', page='page_about') }}">Acerca de</a><br>
Proyecto Fondecyt de Iniciación 11170844.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_consultar') }}" id="m-consultar">Cómo Consultar</a><br>
Búsquedas ingresando palabras clave o filtros avanzados.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_citar') }}" id="m-citar">Cómo Citar</a><br>
Citaciones para fuentes en particular y búsquedas generales.
</p>

<p>
<a style="text-decoration: underline;" class="" href="{{ url_for('public.show', page='page_enlaces') }}" id="m-enlaces">Enlaces de Interés</a><br>
Diversos documentos físicos y electrónicos dialogan con los conciertos aquí recopilados.
</p>

</div>