{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - CL-CONCERTS-DB {% else %}{{ _('Bienvenido a cl-concerts-db') }}{% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">cl-concerts-db</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            {% if not current_user.is_anonymous %}           
                  {% if current_user.profile.name == 'Administrador' %}
                        <a href="{{ url_for('users.view_users') }}">{{ _('Usuarios') }}</a>
                  {% endif %}                
            {% endif %}

        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Editar Elementos <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% set model_mapping = {  
                    'Instrument'          :  _('Instrumentos'),
                    'Country'             :  _('Países'),
                    'EventType'           :  _('Tipo de Evento'),
                    'Cycle'               :  _('Ciclos'),
                    'City'                :  _('Ciudades'),
                    'InstrumentType'      :  _('Tipos de Instrumento'),
                    'PremiereType'        :  _('Tipos de Estreno'),
                    'Activity'            :  _('Actividades'),
                    'Location'            :  _('Lugares'),
                    'Organization'        :  _('Organizaciones'),
                    'Person'              :  _('Personas'),
                    'MusicalPiece'        :  _('Obras Musicales'),
                    'MusicalEnsemble'     :  _('Agrupaciones Musicales'),
                    'MusicalEnsembleType' :  _('Tipo de Agrupaciones Musicales')
                    }  %}
          {% for element in model_mapping %}
              <li><a href="{{ url_for('main.viewElement',model=element)}}"> {{ model_mapping[element] }} </a></li>
          {% endfor %}
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('main.viewElement',model='Event')}}"          > {{ _('Eventos') }}               </a></li>            
          </ul>
                <li><a href="{{ url_for('main.viewHistory')}}"       > {{ _('Historial') }}             </a></li>
        </li>
        </li>
        <li>
            {% if not current_user.is_anonymous %}           
                        <a href="{{ url_for('users.edit_profile') }}">{{ _('Editar Perfil') }}</a>           
            {% endif %}
        </li>
        <li>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('users.login') }}">{{ _('Login') }}</a>
                    {% else %}
                    <a href="{{ url_for('users.logout') }}">{{ _('Logout') }}</a>
                    {% endif %}        
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  
<!-- Modal -->




</nav>
{% endblock %}

{% block content %}
    <div class="container" id="main_header">
        <div class="container" id="message_flasher">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                {% for message in errors %}            
                <div class="alert alert-danger" role="danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            {% with infos = get_flashed_messages(category_filter=["info"]) %}
            {% if infos %}
                {% for message in infos %}            
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-es-CL.min.js"></script>    
    <script src="https://rawgit.com/kswedberg/jquery-smooth-scroll/master/jquery.smooth-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>

{% endblock %}
 